<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/styles.css"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
</head>
<body>
<div class="container body-content">
    <div id="wrap">
        @RenderBody()
    </div>
</div>

<environment names="Development">
</environment>

@RenderSection("scripts", required: false)
</body>
</html>