@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.searchText {
    background: #fefefe;
    border: none;
    font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin-right: 5px;
    padding: 10px;
    width: calc(100% - 111px);
    box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}

.searchform {
    background: #f4f4f4;
    background: rgba(244, 244, 244, .79);
    border: 1px solid #d3d3d3;
    left: 5%;
    align-self: center;
    padding: 2px 5px;
    position: absolute;
    top: 50px;
    width: 90%;
    box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    -moz-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, .37);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

.searchText, .searchform button {
    float: left;
}

.searchText:focus {
    outline: none;
    box-shadow: 0 0 4px #0d76be inset;
    -moz-box-shadow: 0 0 4px #0d76be inset;
    -webkit-box-shadow: 0 0 4px #0d76be inset;
}

.searchText::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchText:-moz-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform button {
    background: rgb(52, 173, 236);
    background: -moz-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(52, 173, 236, 1)), color-stop(100%, rgba(38, 145, 220, 1)));
    background: -webkit-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
    background: -o-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
    background: -ms-linear-gradient(top, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
    background: linear-gradient(to bottom, rgba(52, 173, 236, 1) 0%, rgba(38, 145, 220, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34adec', endColorstr='#2691dc', GradientType=0);
    border: none;
    color: #fff;
    cursor: pointer;
    font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding: 10px;
    width: 106px;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.searchform button:hover {
    opacity: .85;
}

.page-title {
    align-content: center;
    text-align: center;
    color: white;
}

.checkBox {
    color: black;
}

*, *:after, *:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

body {
    background: #3aaae8;
    color: #fff;
    font: 12px/18px 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

a, a:visited {
    color: #fff
}

ul {
    list-style-type: none;
    padding: 0;
}

.wrapper {
    background: #f4f4f4;
    background: rgba(244, 244, 244, .79);
    color: black;
    width: 90%;
    margin: 5px auto;
    position: absolute;
    top: 220px;
    left: 5%;
}

.wrapper h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.list {
}

.list-item {
    align-items: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: rgba(114, 255, 245, 0.54);
}

.table2 td, .table2 th {
    text-align: center;
    padding: 30px;
}

.results-div {
    position: relative;
    top: 200px;
    left: 5%;
    width: 90%;
}