@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    background: url('/img/bg.jpg') repeat-x #718693;
}

#page {
    width: 90%;
    margin: 30px auto 0;
}

h1 {
    font-family: Corbel, 'Myriad Pro', Arial, Helvetica, sans-serif;
    height: 90px;
}

.page-title {
    align-content: center;
    text-align: center;
    color: white;
}

#searchForm {
    background-color: #4C5A65;
    padding: 30px 30px 20px;
    margin: 50px 0;
    position: center;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

#resultsDiv {
    padding: 50px 50px 30px;
    margin: 80px 0;
    position: center;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

fieldset {
    border: none;
}

#searchInputContainer {
    /* This div contains the transparent search box */
    width: 420px;
    height: 36px;
    background: url("img/searchBox.png") no-repeat;
    float: left;
    margin-right: 12px;
}

#SearchText {
    /* The search text box. */

    border: none;
    color: #888888;
    background: url("img/searchBox.png") no-repeat;

    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    margin-right: 12px;
    outline: medium none;
    padding: 0 0 0 35px;
    text-shadow: 1px 1px 0 white;
    width: 385px;
}

/* The submit button */

#submitButton {
    background: url('img/buttons.png') no-repeat;
    width: 83px;
    height: 36px;
    text-indent: -9999px;
    overflow: hidden;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

#submitButton:hover {
    background-position: left bottom;
}

label {
    color: #DDDDDD;
    cursor: pointer;
    font-size: 11px;
    position: relative;
    right: -2px;
    top: -2px;
    margin-right: 10px;
    white-space: nowrap;
    /*float:left;*/
}

input[type=checkbox] {
    cursor: pointer;
    float: left;
}

@media screen and (min-width: 40em) {
    .list li {
        float: left;
        background: none;
    }

    .li-summary {
        display: block;
    }
}

@media screen and (min-width: 60em) {
    .list li {
        float: left;
        width: 50%;
    }

    .inner {
        padding-right: 1em;
    }
}

/****************************************************************************************/

.rwd-table {
    margin: 1em 0;
    min-width: 300px;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: 0.5em;
}

.rwd-table td:last-child {
    padding-bottom: 0.5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

@media (min-width: 480px) {
    .rwd-table td:before {
        display: none;
    }
}

.rwd-table th, .rwd-table td {
    text-align: left;
}

@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }

    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
}

body {
    padding: 0 2em;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #444;
    background: #eee;
}

h1 {
    font-weight: normal;
    letter-spacing: -1px;
    color: #34495e;
}

.rwd-table {
    padding: 50px 50px 30px;
    margin: 10px 0;
    background: #4C5A65;
    color: #fff;
    border-radius: 16px;
    overflow: hidden;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
}

.rwd-table tr {
    border-color: #46637f;
}

.rwd-table th, .rwd-table td {
    margin: 0.5em 1em;
}

@media (min-width: 480px) {
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}

.rwd-table th, .rwd-table td:before {
    color: white;
}
