@using test.Controllers
@using test.Models
@*@model test.Models.SearchModel*@

@functions {
    private List<SearchResult> _results = new List<SearchResult>();
}

@{
    ViewBag.Title = "Page Rank";
}

<div class="row">
    <div id="page">
        <form id="searchForm" method="post">
            <fieldset>
                @Html.TextBox("s")
                @*                <input id="s" type="text"/>*@
                <input type="submit" value="Submit" id="submitButton" onclick=
                       @{
                           _results.Clear();
                           _results = PageRankController.ExecuteSearch(Request.Form["s"]);
                           Console.WriteLine("SearchText: " + Request.Form["s"]);
                       }/>

                <div id="searchInContainer">
                    <input type="radio" name="check" value="site" id="searchSite" checked/>
                    <label for="searchSite" id="siteNameLabel">Search</label>

                    <input type="radio" name="check" value="web" id="searchWeb"/>
                    <label for="searchWeb">Search The Web</label>
                </div>
            </fieldset>
        </form>

        <div id="pattern" class="col-md-12">
            <ul class="list">
                @foreach (var result in _results)
                {
                    <li>
                        <a href=@result.Link class="inner">
                            <div class="li-img">
                                <h2>@result.Rank</h2>
                            </div>
                            <div class="li-text">
                                <h4 class="li-head">@result.Title</h4>
                                <p class="li-summary">@result.Snippet</p>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>